<p>
    <mat-toolbar class="bg-dark">
        <a routerLink="/about" mat-icon-button class="example-icon underline">
            <mat-icon color="warn">flight</mat-icon>
          <span class="underline">&nbsp;BookMyFlight</span>       
        </a>    
        <span class="example-spacer"></span>
        <a mat-button class="mr-1, underline" routerLink="/public/flight/search"><mat-icon color="warn">travel_explore</mat-icon>&nbsp;Search Flights</a>        
        <a mat-button class="mr-1, underline" routerLink="/registration"><mat-icon color="warn">person_add_alt_1</mat-icon>&nbsp;Register</a>
        <a mat-button class="ml-1, underline" routerLink="/login"><mat-icon color="warn">login</mat-icon>&nbsp;Log in</a>
    </mat-toolbar>
</p>