<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-10 text-center">
            <div>
                <h2>All Schedule Flights</h2>
            </div>
            <hr>
            <div class="container table-responsive">
                <mat-card>
                    <div class="container">
                            <table class="table table-striped">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Flight Id</th>
                                        <th>Flight Date</th>
                                        <th>To Place</th>
                                        <th>From place</th>
                                        <th>Bussiness class seat</th>
                                        <th>non-Bussiness class seat</th>
                                        <th>Active Status</th>
                                        <th>Flight Number</th>
                                        <th>AIrline Name</th>
                                        <th>Schedule Days</th>
                                        <th>Flight timing</th>
                                        <th>Ticket Cost</th>
                                        <th>Food Type</th>
                                    </tr>
                                </thead>       
                                <tbody>
                                    <tr class="table-secondary" *ngFor="let schedule of flights">
                                        <td>{{schedule.flightScheduleId}}</td>
                                        <td>{{schedule.flightDate}}</td>
                                        <td>{{schedule.toPlace}}</td>
                                        <td>{{schedule.fromPlace}}</td>
                                        <td>{{schedule.businessClassSeat}}</td>
                                        <td>{{schedule.nonBussinessClassSeat}}</td>
                                        <td>{{schedule.isActive}}</td>
                                        <td>{{schedule.flight.flightNumber}}</td>
                                        <td>{{schedule.flight.flightAirline}}</td>
                                        <td>{{schedule.flight.scheduleDays}}</td>
                                        <td>{{schedule.flight.flightTime}}</td>
                                        <td>{{schedule.flight.ticketCost}}</td>
                                        <td>{{schedule.flight.meal}}</td>
                                    </tr>
                                </tbody>
                        </table> 
                    </div>   
                </mat-card>
            </div>
        </div>
    </div>
</div>
