<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-adminsidebar></app-adminsidebar>
        </div>
        <div class="col-10 text-center">
            <div class="text-left">
                <h2>View Single Schedule Flight</h2>
            </div>
            <hr>
            <form (ngSubmit)="fetchScheduleFlight()" class="mt-3">
                <mat-form-field appearance="fill" class="width">
                    <mat-label>Flight Number</mat-label>
                    <input name="flightScheduleId" [(ngModel)]="flightScheduleId"
                    matInput placeholder="Flight Number">
                </mat-form-field>
                <div>
                    <button type="submit" mat-stroked-button color="warn" class="mr-2">Search</button>
                    <button type="reset" mat-stroked-button color="warn" class="ml-2">Cancel</button>
                </div>
            </form>

            <div class="container mt-5">
                <mat-card>
                    <table class="table table-striped">
                        <thead class="table-primary">
                            <tr>
                                <th>Flight Id</th>
                                <th>Flight Date</th>
                                <th>To Place</th>
                                <th>From place</th>
                                <th>Bussiness class seat</th>
                                <th>non-Bussiness class seat</th>
                                <th>Active Status</th>
                                <th>Flight Number</th>
                                <th>AIrline Name</th>
                                <th>Schedule Days</th>
                                <th>Flight timing</th>
                                <th>Ticket Cost</th>
                                <th>Food Type</th>
                            </tr>
                        </thead>       
                        <tbody>
                            <tr>
                                <td>{{schedule.flightScheduleId}}</td>
                                <td>{{schedule.flightDate}}</td>
                                <td>{{schedule.toPlace}}</td>
                                <td>{{schedule.fromPlace}}</td>
                                <td>{{schedule.businessClassSeat}}</td>
                                <td>{{schedule.nonBussinessClassSeat}}</td>
                                <td>{{schedule.isActive}}</td>
                                <td>{{schedule.flight.flightNumber}}</td>
                                <td>{{schedule.flight.flightAirline}}</td>
                                <td>{{schedule.flight.scheduleDays}}</td>
                                <td>{{schedule.flight.flightTime}}</td>
                                <td>{{schedule.flight.ticketCost}}</td>
                                <td>{{schedule.flight.meal}}</td>
                            </tr>
                        </tbody>
                      </table>                     
                </mat-card>
                <div class="mt-5 text-right">
                    <button routerLink="/admin/airline/flight/schedule/update/{{schedule.flightScheduleId}}" mat-stroked-button color="warn" class="mr-1">Update</button>
                    <button (click)="deleteSchedule(schedule.flightScheduleId)" mat-stroked-button color="warn" class="ml-1">Delete</button>
                  </div>
            </div>
        </div>
    </div>
</div>
