<mat-card class="card">
   <div class="menu">
       <h2 color="warn">Menus</h2>
   </div>
   <hr>
   <div>
        <h4 class="submenu">Flight</h4>
         <div class="container">
            <button mat-button routerLink="/admin/airline/flight/add">Add Flight</button>
            <button mat-button routerLink="/admin/airline/flight/view">View Flight</button>
            <button mat-button routerLink="/admin/airline/flight/viewall">View All Flights</button>
         </div>
         <hr>
       <h4 class="submenu">Schedule FLight</h4>
        <div class="container">
            <button mat-button routerLink="/admin/airline/flight/schedule">Add Flight</button>
            <button mat-button routerLink="/admin/airline/flight/schedule/view">View Flight</button>
            <button mat-button routerLink="/admin/airline/flight/schedule/viewall">View All Flights</button> 
        </div> 
   </div>
</mat-card>
